<!DOCTYPE html>
<html lang="en-CA" xml:lang="en-CA">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
	<title>Nvest Personal Banking Services Catalogue | Nvest Canada Trust</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="../img/Nicon Logo - Blue.png" type="image/vnd.microsoft.icon" />
	<link rel="stylesheet" href="../css/default.css" type="text/css" />

	<style>
		[ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak {
			display: none !important;
		}
	</style>

</head>

<body class="td_rq_descriptor td-descriptor" ng-app="tdctRedesign" ng-controller="tdctRedesignController as a">



	<div class="logo-print visible-print" aria-hidden="true"><img src="../img/header-nav/LOGO.svg" width="36"
			height="32" alt="TD Canada Trust"></div>
	<div class="td-header-nav-top-message">

		<div class="logo-print visible-print" aria-hidden="true"><img src="../img/header-nav/LOGO.svg" width="36"
				height="32" alt="TD Canada Trust"></div>
		<div class="td_rq_header-nav td-header-nav">
			<!-- Desktop Header START -->
			<header class="td-header-desktop">
				<div class="td-skip"><a href="#main">Skip to main content</a> </div>
				<div class="td-utility-toggle">
					<div class="td-container">
						<div class="td-section-left">
							<div class="td-segments">
								<ul>

									<li class="active">
										<a href="../index.html">Personal</a>
									</li>

									<li>
										<a href="../../business-banking/index.html">Business</a>
									</li>

								</ul>
							</div>
						</div>
						<div class="td-section-right">
							<div class="td-other-toggles">
								<ul>
									<li class="td-dropdown td-dropdown-country td-dropdown-no-hover"
										ng-show="a.login==true">

										<a href="javascript:void(0);" aria-haspopup="true" aria-expanded="false"
											id="td-desktop-nav-dropdown-link-0"><span class="td-forscreenreader">Select
												country</span>
											<img class="country-flag" src="../images/country_ca_tcm341-234147.png"
												alt="Canada">
											<span class="td-icon expand" aria-hidden="true"></span><span
												class="td-icon collapse" aria-hidden="true"></span></a>

										<ul class="td-dropdown-content"
											aria-labelledby="td-desktop-nav-dropdown-link-0">

											<li class="active">
												<a href="javascript:void(0);">
													<img class="country-flag"
														src="../images/country_ca_tcm341-234147.png" alt="Canada">Canada
													<span class="td-icon selected" aria-hidden="true"></span><span
														class="td-forscreenreader">Selected</span>
												</a>
											</li>

											<li>
												<a href="#">
													<img class="country-flag"
														src="../images/country_us_tcm341-234704.png" alt="US">US
												</a>
											</li>

										</ul>
									</li>

									<li class="td-dropdown td-dropdown-language td-dropdown-no-hover"
										ng-show="a.login==true">

										<a href="javascript:void(0);" aria-haspopup="true" aria-expanded="false"
											id="td-desktop-nav-dropdown-link-1"><span class="td-forscreenreader">Select
												language</span>English<span class="td-icon expand"
												aria-hidden="true"></span><span class="td-icon collapse"
												aria-hidden="true"></span></a>

										<ul class="td-dropdown-content"
											aria-labelledby="td-desktop-nav-dropdown-link-1">

											<li lang="en" class="active">
												<a href="javascript:void(0);">English<span class="td-icon selected"
														aria-hidden="true"></span><span
														class="td-forscreenreader">Selected</span></a>
											</li>

											<li lang="fr"><a href="#" target="_self">Français</a></li>

											<li lang="zh-Hans"><a href="#" target="_self">简体中文</a></li>

											<li lang="zh-Hant"><a href="#" target="_self">繁體中文</a></li>

										</ul>

									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="td-nav-primary">
					<div class="td-container">
						<div class="td-section-left">
							<div class="td-logo">
								<a href="../index.html">
									<img src="../img/header-nav/LOGO.svg" srcset="" alt="TD Canada Trust" /></a>

							</div>
							<nav>
								<ul>

									<li class=""><a href="../my-accounts/index.html">My Accounts</a></li>

									<li class=""><a href="../how-to/index.html">How To</a></li>

									<li class="td-dropdown ">
										<a href="#">
											Products
											<span class="td-icon expand" aria-hidden="true"></span><span
												class="td-icon collapse" aria-hidden="true"></span>
										</a>
										<ul class="td-dropdown-content">

											<li><a href="../products/bank-accounts/index.html">Bank Accounts</a></li>

											<li><a href="../products/credit-cards/index.html">Credit Cards</a></li>

											<li><a href="../products/mortgages/index.html">Mortgages</a></li>

											<li><a href="../products/borrowing/index.html">Borrowing</a></li>

											<li><a href="../products/saving-investing/index.html">Saving & Investing</a>
											</li>

											<li><a href="../products/insurance/index.html">Insurance</a></li>

											<li><a href="#">All Products</a></li>

											<li><a href="../products/special-offers/index.html">Promotions & Offers</a>
											</li>

										</ul>
									</li>

									<li class="td-dropdown ">
										<a href="#">
											Solutions
											<span class="td-icon expand" aria-hidden="true"></span><span
												class="td-icon collapse" aria-hidden="true"></span>
										</a>
										<ul class="td-dropdown-content">

											<li><a href="#">Investors</a></li>

											<li><a href="../../business-banking/small-business/index.html">Small
													Businesses</a></li>

											<li><a href="#">Commercial Banking</a></li>

											<li><a href="../solutions/student-banking/index.html">Students</a></li>

											<li><a href="../solutions/new-to-canada/index.html">New to Canada</a></li>

											<li><a href="#">Cross Border Banking</a></li>

											<li><a href="../solutions/currency-exchange/index.html">Foreign Exchange
													Services</a></li>

											<li><a href="#">Ways to Pay</a></li>

											<li><a href="#">Ways to Bank </a></li>

											<li><a href="../solutions/green-banking/index.html">Green Banking</a></li>

										</ul>
									</li>

								</ul>
							</nav>
						</div>
						<div class="td-section-right">
							<div class="td-quick-access">
								<ul>

									<li class="find-us"><a href="#"><span class="td-icon"></span><span
												class="td-label">Find Us</span></a></li>

									<li class="help"><a href="#"><span class="td-icon"></span><span
												class="td-label">Help</span></a></li>

									<li class="search"><a href="#" class="td-desktop-search-show-btn"><span
												class="td-icon"></span><span class="td-label">Search</span></a></li>

									<li class="divider" ng-show="a.login==true">
										<div class="td-divider-line"></div>
									</li>
									<li class="login td-dropdown" ng-show="a.login==true">
										<a href="#&#10;" class="td-show-label" aria-haspopup="true"
											aria-expanded="false" id="td-desktop-nav-dropdown-link-4"><span
												class="td-icon"></span><span class="td-label">Login</span><span
												class="td-icon expand" aria-hidden="true"></span><span
												class="td-icon collapse" aria-hidden="true"></span></a>
										<ul class="td-dropdown-content"
											aria-labelledby="td-desktop-nav-dropdown-link-4">

											<li class="visible-md"><a href="#">TD app</a></li>

											<li class=""><a href="#">EasyWeb</a></li>

											<li class=""><a href="#">WebBroker</a></li>

											<li class=""><a href="#">U.S. Banking</a></li>

										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="td-nav-desktop-search">
							<div class="td-search-container">

								<link rel="stylesheet" href="../css/selfHelp/main.css">
								<script type="text/ng-template"
									id="/ca/en/personal-banking/selfHelpComponents/headerSearchInput.html">
<div class="td-search-container">              
<link rel="stylesheet" href="/css/selfHelp/main.css">
<script type="text/ng-template" id="/ca/en/personal-banking/selfHelpComponents/headerSearchInput.html">
<form class="td-search-box ng-pristine ng-valid" ng-submit="submitSearch()">
    <input type="text" ng-model="query" ng-change="$ctrl.updateSuggestions()" placeholder="Search" name="query" class="td-search-input" aria-label="Search" autocomplete="off">
    <span class="td-search-icon" aria-hidden="true"><span class="td-icon"></span></span>
    <input type="submit" class="td-search-submit" value="search">
    <div ng-if="$ctrl.suggestions.length > 0 && !$ctrl.hideSuggestions" class="suggestion-dropdown">
        <div class="suggestion-item" ng-repeat="suggestion in $ctrl.suggestions track by $index" ng-mouseover="$ctrl.hover($index)" ng-click="$ctrl.clickSuggestion($index)" ng-class="{'selected-suggestion': $index == $ctrl.selected}">
            <span ng-bind-html="suggestion | safeHtml"></span>
        </div>
    </div>
</form>
</script>
								<header-search-input>
									<form class="td-search-box ng-pristine ng-valid" ng-submit="submitSearch()">
										<input type="text" ng-model="query" ng-change="$ctrl.updateSuggestions()"
											placeholder="Search" name="query"
											class="td-search-input ng-pristine ng-valid ng-empty ng-touched"
											aria-label="Search" autocomplete="off" aria-invalid="false">
										<span class="td-search-icon" aria-hidden="true"><span
												class="td-icon"></span></span>
										<input type="submit" class="td-search-submit" value="query">
										<!-- ngIf: $ctrl.suggestions.length > 0 && !$ctrl.hideSuggestions -->
									</form>
								</header-search-input>


								<button type="button" class="td-desktop-search-hide-btn"><span
										class="td-forscreenreader">Close Search</span><span class="td-icon"
										aria-hidden="true"></span></button>
							</div>
							</script>
							<header-search-input></header-search-input>



						</div>
					</div>
			</header>
			<!-- Desktop Header END -->
			<!-- Mobile Header START -->
			<header class="td-header-mobile">
				<div class="td-container">
					<div class="td-section-left">
						<button type="button" class="td-mobile-action-button td-mobile-menu-button"
							style="display:inline;">
							<div class="td-mobile-menu-button-icon">
								<span class="td-forscreenreader">Open Menu</span>
								<span class="icon-bar" aria-hidden="true"></span>
								<span class="icon-bar" aria-hidden="true"></span>
								<span class="icon-bar" aria-hidden="true"></span>
							</div>
							<div class="td-logo">
								<img src="../img/header-nav/LOGO.svg" srcset="" alt="TD Canada Trust" /></div>
						</button>
						<button type="button" class="td-mobile-action-button td-mobile-back-button"
							onclick="history.back();" style="display:none;">
							<div class="td-mobile-back-button-icon"><span class="td-icon"></span><span
									class="td-forscreenreader">Back</span></div>
							<div class="td-logo">
								<img src="../img/header-nav/LOGO.svg" srcset="" alt="TD Canada Trust" /></div>
						</button>
					</div>
					<div class="td-section-right">

						<button type="button" class="td-mobile-action-button td-mobile-menu-secondary-button td-login"
							data-ng-cloak ng-show="a.login==true">
							<span class="td-icon login"></span><span class="label">Login</span><span
								class="td-forscreenreader">Open Menu</span>
						</button>

						<button type="button" class="td-mobile-action-button td-mobile-menu-secondary-button profile"
							data-ng-cloak ng-show="a.logout==true">
							<div class="td-profile-btn"><span class="profile-avatar td-icon"
									aria-hidden="true"></span><span class="td-icon expand"
									aria-hidden="true"></span><span class="td-icon collapse"
									aria-hidden="true"></span><span class="td-forscreenreader">My Accounts & Profile
									open menu</span> </div>
						</button>

						<a href="#" class="td-login td-logout" data-ng-cloak ng-show="a.logout==true"><span
								class="td-icon logout"></span><span class="label">Logout</span></a>

					</div>
				</div>
			</header>
			<!-- Mobile Header END -->
			<!-- Mobile Off-canvas Menu START -->
			<div class="td-nav-mobile">
				<div class="td-nav-mobile-menu td-nav-mobile-menu-primary">
					<div class="td-nav-mobile-menu-top">
						<div class="td-nav-mobile-menu-header">
							<div class="td-logo">
								<a href="../index.html">
									<img src="../img/header-nav/LOGO.svg" srcset="" alt="TD Canada Trust" /></a>

							</div>
							<button type="button" class="td-mobile-menu-close"><span class="td-forscreenreader"
									aria-hidden="">Close Menu</span><span class="td-icon"
									aria-hidden="true"></span></button>
						</div>

						<div class="td-nav-mobile-menu-search">
							<link rel="stylesheet" href="../css/selfHelp/main.css">
							<script type="text/ng-template"
								id="/ca/en/personal-banking/selfHelpComponents/headerSearchInput.html">
<form class="td-search-box ng-pristine ng-valid" ng-submit="submitSearch()">
    <input type="text" ng-model="query" ng-change="$ctrl.updateSuggestions()" placeholder="Search" name="query" class="td-search-input" aria-label="Search" autocomplete="off">
    <span class="td-search-icon" aria-hidden="true"><span class="td-icon"></span></span>
    <input type="submit" class="td-search-submit" value="search">
    <div ng-if="$ctrl.suggestions.length > 0 && !$ctrl.hideSuggestions" class="suggestion-dropdown">
        <div class="suggestion-item" ng-repeat="suggestion in $ctrl.suggestions track by $index" ng-mouseover="$ctrl.hover($index)" ng-click="$ctrl.clickSuggestion($index)" ng-class="{'selected-suggestion': $index == $ctrl.selected}">
            <span ng-bind-html="suggestion | safeHtml"></span>
        </div>
    </div>
</form>
</script>
							<header-search-input></header-search-input>

						</div>

					</div>
					<nav>
						<ul class="td-nav-mobile-menu-list">

							<li class="td-nav-mobile-menu-item td-item-toggle td-accordion td-accordion-segment">

								<a href="#">TD: Personal<span class="td-icon expand"></span><span
										class="td-icon collapse"></span></a>

								<ul class="td-accordion-content">

									<li class="active"><a href="../index.html" target="_self">Personal<span
												class="td-icon selected" aria-hidden="true"></span><span
												class="td-forscreenreader">Selected</span></a></li>

									<li><a href="../../business-banking/index.html" target="_self">Business</a></li>

								</ul>
							</li>

							<li class="td-nav-mobile-menu-item td-item-nav-link ">
								<a href="../index.html" target="_self"><span
										class="td-icon td-icon-homepage"></span>Home</a>
							</li>

							<li class="td-nav-mobile-menu-item td-item-nav-link ">
								<a href="../my-accounts/index.html" target="_self"><span
										class="td-icon td-icon-myTD"></span>My Accounts</a>
							</li>

							<li class="td-nav-mobile-menu-item td-item-nav-link ">
								<a href="../how-to/index.html" target="_self"><span
										class="td-icon td-icon-howTo"></span>How To</a>
							</li>

							<li class="td-nav-mobile-menu-item td-item-nav-link ">
								<a href="../products/bank-accounts/index.html" target="_self"><span
										class="td-icon td-icon-accounts"></span>Bank Accounts</a>
							</li>

							<li class="td-nav-mobile-menu-item td-item-nav-link ">
								<a href="../products/credit-cards/index.html" target="_self"><span
										class="td-icon td-icon-creditcards"></span>Credit Cards</a>
							</li>

							<li class="td-nav-mobile-menu-item td-item-nav-link ">
								<a href="../products/mortgages/index.html" target="_self"><span
										class="td-icon td-icon-mortgages"></span>Mortgages</a>
							</li>

							<li class="td-nav-mobile-menu-item td-item-nav-link ">
								<a href="../products/borrowing/index.html" target="_self"><span
										class="td-icon td-icon-borrowing"></span>Borrowing</a>
							</li>

							<li class="td-nav-mobile-menu-item td-item-nav-link ">
								<a href="../products/saving-investing/index.html" target="_self"><span
										class="td-icon td-icon-savingAndInvesting"></span>Saving & Investing</a>
							</li>

							<li class="td-nav-mobile-menu-item td-item-nav-link ">
								<a href="../products/insurance/index.html" target="_self"><span
										class="td-icon td-icon-insurance"></span>Insurance</a>
							</li>

							<li class="td-nav-mobile-menu-item td-item-nav-link ">
								<a href="../products/special-offers/index.html" target="_self"><span
										class="td-icon td-icon-colour-primary td-icon-offers "></span>Promotions &
									Offers</a>
							</li>

							<li
								class="td-nav-mobile-menu-item td-item-nav-link td-accordion item-solutions td-accordion">
								<a href="#" target="_self"><span class="td-icon td-icon-solutions"></span>Solutions<span
										class="td-icon expand"></span><span class="td-icon collapse"></span></a>
								<ul class="td-accordion-content" style="display:none">

									<li class=""> <a href="#" target="_self">Investors</a></li>

									<li class=""> <a href="../../business-banking/small-business/index.html"
											target="_self">Small Businesses</a></li>

									<li class=""> <a href="#" target="_self">Commercial Banking</a></li>

									<li class=""> <a href="../solutions/student-banking/index.html"
											target="_self">Students</a></li>

									<li class=""> <a href="../solutions/new-to-canada/index.html" target="_self">New to
											Canada</a></li>

									<li class=""> <a href="#" target="_self">Cross Border Banking</a></li>

									<li class=""> <a href="../solutions/currency-exchange/index.html" target="_self">
											Foreign Exchange Services</a></li>

									<li class=""> <a href="#" target="_self">Ways to Pay</a></li>

									<li class=""> <a href="#" target="_self">Ways to Bank </a></li>

									<li class=""> <a href="../solutions/green-banking/index.html" target="_self">Green
											Banking</a></li>

								</ul>
							</li>

							<li class="td-nav-mobile-menu-item td-item-nav-link item-find-us ">
								<a href="../branch-locator/index.html" target="_self"><span
										class="td-icon td-icon-location"></span>Find Us</a>
							</li>

							<li class="td-nav-mobile-menu-item td-item-nav-link td-item-nav-link-last item-help-me ">
								<a href="../help-centre/index.html" target="_self"><span
										class="td-icon td-icon-help"></span>Help</a>
							</li>

							<li class="td-nav-mobile-menu-item td-item-toggle td-accordion td-accordion-country"
								data-ng-cloak ng-show="a.login==true">

								<a href="javascript:void(0);">Country: Canada<span class="td-icon expand"></span><span
										class="td-icon collapse"></span></a>

								<ul class="td-accordion-content">

									<li class="active"><a href="#"><img class="country-flag"
												src="../images/country_ca_tcm341-234147.png" alt="Canada" />Canada<span
												class="td-icon selected" aria-hidden="true"></span><span
												class="td-forscreenreader">Selected</span></a></li>

									<li><a href="#" target="_self"><img class="country-flag"
												src="../images/country_us_tcm341-234704.png" alt="US" />US</a></li>

								</ul>

							</li>

							<li class="td-nav-mobile-menu-item td-item-toggle td-accordion td-accordion-language"
								data-ng-cloak ng-show="a.login==true">

								<a href="javascript:void(0);">Language: English<span class="td-icon expand"></span><span
										class="td-icon collapse"></span></a>

								<ul class="td-accordion-content">

									<li lang="en" class="active"><a href="javascript:void(0);">English<span
												class="td-icon selected" aria-hidden="true"></span><span
												class="td-forscreenreader">Selected</span></a></li>

									<li lang="fr"><a href="#" target="_self">Français</a></li>

									<li lang="zh-Hans"><a href='#' target="_self">简体中文</a></li>

									<li lang="zh-Hant"><a href='#' target="_self">繁體中文</a></li>

								</ul>

							</li>
						</ul>
					</nav>
				</div>
				<!-- Secondary mobile menu START -->
				<div class="td-nav-mobile-menu td-nav-mobile-menu-secondary td-nav-mobile-menu-right">
					<div class="td-nav-mobile-menu-top">
						<div class="td-nav-mobile-menu-header">
							<div class="td-nav-mobile-menu-title">

								<span ng-show="a.login==true"><span class="td-icon login" aria-hidden="true"
										data-ng-cloak></span>Login</span>

								<div class="profile" data-ng-cloak ng-show="a.logout==true">
									<div class="td-profile-btn">
										<span class="profile-avatar td-icon" aria-hidden="true"></span>
										<span class="td-forscreenreader">My Accounts & Profile</span></div>
								</div>

								<a class="logout" href="#" ng-show="a.logout==true"><span class="td-icon logout"
										aria-hidden="true"></span>Logout</a>

							</div>
							<button type="button" class="td-mobile-menu-close">
								<span class="td-forscreenreader" aria-hidden="">Close My Accounts & Profile</span><span
									class="td-icon" aria-hidden="true"></span>
							</button>
						</div>
					</div>
					<nav>

						<ul class="td-nav-mobile-menu-list" ng-show="a.login==true">

							<li class="td-nav-mobile-menu-item td-item-nav-link ">

								<a href="#" id="tdapp"><span class="td-icon td-icon-noIcon"></span>TD app</a>

							</li>

							<li class="td-nav-mobile-menu-item td-item-nav-link ">

								<a href="#"><span class="td-icon td-icon-noIcon"></span>EasyWeb</a>

							</li>

							<li class="td-nav-mobile-menu-item td-item-nav-link item-tablet-portrait-only visible-sm">

								<a href="#"><span class="td-icon td-icon-noIcon"></span>WebBroker</a>

							</li>

							<li class="td-nav-mobile-menu-item td-item-nav-link item-tablet-portrait-only visible-sm">

								<a href="#"><span class="td-icon td-icon-noIcon"></span>U.S. Banking</a>

							</li>

						</ul>

						<ul class="td-nav-mobile-menu-list" ng-show="a.logout==true">

							<li class="td-nav-mobile-menu-item td-item-header item-easy-web">

								<h3>EasyWeb</h3>

							</li>
							<li class="td-nav-mobile-menu-item td-item-nav-link item-my-accounts">

								<a href="#"><span class="td-icon td-icon-noIcon"></span>My Accounts</a>

								<a href="#"><span class="td-icon td-icon-noIcon"></span>My Profile</a>

								<a href="#"><span class="td-icon td-icon-noIcon"></span>Password & Security</a>

								<a href="#"><span class="td-icon td-icon-noIcon"></span>Account Settings</a>

								<a href="#"><span class="td-icon td-icon-noIcon"></span>Notifications & Alerts</a>

							</li>

							<li class="td-nav-mobile-menu-item td-item-header item-easy-web">

								<h3>Other Accounts</h3>

							</li>
							<li class="td-nav-mobile-menu-item td-item-nav-link item-my-accounts">

								<a href="#"><span class="td-icon td-icon-noIcon"></span>WebBroker</a>

								<a href="#"><span class="td-icon td-icon-noIcon"></span>U.S. Banking</a>

							</li>

						</ul>

					</nav>
				</div>
				<!-- Secondary mobile menu START -->
				<div class="td-nav-mobile-overlay"></div>
			</div>
			<!-- Mobile Off-canvas Menu END -->
		</div>
	</div>
	<a name="top" id="top"></a>
	<div class="td_rq_tooltip">
		<div class="td_rq_popover td-contentarea" role="main" id="main">

			<section class="td-main-header ">
				<div class="td-container">
					<div aria-live="assertive" class="td-col td-col-xs-12 td-col-sm-10 td-col-sm-offset-1">

						<h1><span style="text-align:center">Ad Choices & Personalization</span>

						</h1>

					</div>
				</div>

			</section>
			<section class="td-text-with-link ">
				<div class="td-container">
					<div class="        ">
						<div class="rte">

							<div class="td-col-xs-12 td-col-sm-10 td-col-sm-offset-1 td-col-md-8 td-col-md-offset-2">
								<p class="td-rte-margin-top-none" style=" text-align:center;">Through the use of <a
										aria-haspopup="true" class="td-bst-desc"
										data-aria-label-close="Close descriptor window"
										data-content-id="ASC-descriptor-1" data-original-title="" data-placement="auto"
										data-toggle="popover" data-trigger="manual" href="#"
										onclick="setTimeout(function(){ $('.popover.fade.top.in').css({'margin-top':'29%'})}, 5);"
										style="" title="">cookies</a> and other technologies, TD can enhance your
									experience with personalized content and offers that may be relevant to you. This
									technology also enables TD's third-party advertising partners to assist us in
									presenting ads specific to your interests across the internet. We make this tool
									available to provide you with control over the use of your information.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="td-descriptor-content" id="ASC-descriptor-1">
				<div class="rte">
					<p class="td-rte-margin-top-none">

						Cookies are snippets of data stored by a web browser (e.g. Internet Explorer, Safari or
						Firefox). Your internet browsing activity can be collected and used to personalize your online
						experience when you search for information.

					</p>
				</div>
			</div>

			<section class="td_rq_tabs-carousel td-tab-with-label ">

				<div class="td-tabs-carousel-container td-tab-with-label td-bg-light-gray">
					<span class="accessibility-instructions">Tabs Menu: to navigate this menu, use the left & right
						arrow keys to change tabs. Press tab to go into the content. Shift-tab to return to the
						tabs.</span>
					<ul class="td-tabs-carousel">

						<li id="Tab_1" class="td-tabs-carousel-tab">
							<div class="td-tabs-carousel-tab-content">
								<h4 class="label">Ad Choices</h4>
							</div>
						</li>

						<li id="Tab_2" class="td-tabs-carousel-tab">
							<div class="td-tabs-carousel-tab-content">
								<h4 class="label">Personal&shy;ization</h4>
							</div>
						</li>

					</ul>
					<div>

						<div class="td-tabs-carousel-content hidden">
							<div class="td-contentarea">

								<section class="td_bullet_list ">
									<div class="td-container">

										<div class="td-row">
											<div
												class="td-col-xs-12 td-col-sm-10 td-col-sm-offset-1 td-col-lg-8 td-col-lg-offset-2">
												<div class="rte">
													<div
														class="td-col-xs-12 td-col-sm-10 td-col-sm-offset-1 td-col-md-8 td-col-md-offset-2">
														<p class="text-center td-rte-margin-top-none"
															style="margin-bottom:0px;">TD and our ad partners may use
															cookies and other tracking technologies to deliver tailored
															TD advertising to you on third-party websites and mobile
															apps.</p>
													</div>
												</div>
											</div>
										</div>

										<div class="td-row">
											<div
												class="td-col-xs-12 td-col-sm-10 td-col-sm-offset-1 td-col-md-8 td-col-md-offset-2 list">
												<div class="rte">

													<ul>
														<li><strong>TD Tracking and TD ads on Third Party
																sites</strong><br />
															TD uses cookies and other technologies that track online
															behavior. We are able to track which of our ads you interact
															with on third-party websites and your activity on TD Branded
															sites. This enables us to provide ads that are more relevant
															to you. We may collect and use information about your
															relationship with us (such as types of accounts,
															transactional information or how you bank) to help determine
															which ads or offers to present to you on third party sites.
														</li>
													</ul>

												</div>
											</div>
										</div>

									</div>
								</section>
								<section class="td_bullet_list ">
									<div class="td-container">

										<div class="td-row">
											<div
												class="td-col-xs-12 td-col-sm-10 td-col-sm-offset-1 td-col-md-8 td-col-md-offset-2 list">
												<div class="rte">

													<ul>
														<li><strong>Third party advertising tracking</strong><br />
															You can view a list of our third party ad partners and
															opt-out of our interest-based advertising on third-party
															websites through the TRUSTe tool. Opting out will block
															these third parties from other sites you may visit as well.
															<br />
															<p
																style="text-align:left; margin-bottom: 40px; margin-top: 30px;">
																<a class="td-link-standalone"
																	onclick="TRUSTeWidget.Tab.link()"
																	style="cursor:pointer; text-decoration:none;"
																	target="_blank">Manage interest-based ads</a></p>
														</li>
														<li><strong>Search engine interest-based tracking</strong><br />
															You can also opt-out of interest-based search engine ads.
															Just select the notification icon after the URL within the
															ad text. You may still see our generic TD-branded ads after
															you opt-out. These are not linked to your interests or
															browsing history.</li>
													</ul>

												</div>
											</div>
										</div>

									</div>
								</section>
								<section class="td-divider">

									<div class="td-container">
										<div class="td-sm-full-bleed">

											<div class="td-row">
												<div class="td-col-xs-12">
													<hr class="td-thin-divider-line-1" />
												</div>
											</div>

										</div>
									</div>

								</section>
								<section class="td-text-with-link ">
									<div class="td-container">
										<div class="        ">
											<div class="rte">

												<p class="td-rte-margin-top-none text-center"><a href="#"
														target="_blank">Learn more</a> about interest-based advertising
													and the icon you might see on websites and online ads.</p>
												<p class="text-center"><img alt="TrustARC logo"
														src="../images/AdChoices-logo.png" /></p>
											</div>
										</div>
									</div>
								</section>
								<section class="td-divider">

									<div class="td-row">
										<div class="td-col-xs-12">
											<hr class="td-thick-divider-line" />
										</div>
									</div>

								</section>
								<section class="td-text-with-link ">
									<div class="td-container">
										<div class="        ">
											<div class="rte">

												<p class="td-rte-margin-top-none" style=" text-align:center;">To learn
													more about what information we collect and how we use it, please see
													our <a href="#">Online Privacy Code</a>.</p>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>

						<div class="td-tabs-carousel-content hidden">
							<div class="td-contentarea">

								<section class="td_bullet_list ">
									<div class="td-container">

										<div class="td-row">
											<div
												class="td-col-xs-12 td-col-sm-10 td-col-sm-offset-1 td-col-lg-8 td-col-lg-offset-2">
												<div class="rte">
													<p class="text-center td-rte-margin-top-none"
														style="margin-bottom:0px;">Information is collected in different
														ways</p>
												</div>
											</div>
										</div>

										<div class="td-row">
											<div
												class="td-col-xs-12 td-col-sm-10 td-col-sm-offset-1 td-col-md-8 td-col-md-offset-2 list">
												<div class="rte">

													<ul>
														<li><strong>Personalization of TD Content</strong><br />
															We may show content and advertisements based on your current
															or past use of our
															<br /><a aria-haspopup="true" class="td-bst-desc"
																data-aria-label-close="Close descriptor window"
																data-content-id="ASC-descriptor-2"
																data-original-title="" data-placement="auto"
																data-toggle="popover" data-trigger="manual" href="#"
																onclick="setTimeout(function(){ $('.popover.fade.top.in').css({'margin-top':'49%'})}, 5);"
																style="outline-width: 1px; outline-style: dotted; outline-offset: 2px;"
																title="">TD retail-branded websites</a>. If you have a
															product with us and log in, we also personalize your
															experience based on your relationship with us. This can
															occur even after you log out.</li>
													</ul>

												</div>
											</div>
										</div>

									</div>
								</section>
								<section class="td_bullet_list ">
									<div class="td-container">

										<div class="td-row">
											<div
												class="td-col-xs-12 td-col-sm-10 td-col-sm-offset-1 td-col-md-8 td-col-md-offset-2 list">
												<div class="rte">

													<ul>
														<li><strong>Essential cookies</strong><br />
															Some cookies are required for various features of our
															websites. They also help ensure the security of your
															browsing experience. You cannot opt-out of the use of
															essential cookies, unless you disable your browser from
															accepting them.
															<br /><br />
															If you choose to disable the cookies feature on your
															browser, some of our websites might not work properly and
															your experience may be less than optimal.</li>
													</ul>

												</div>
											</div>
										</div>

									</div>
								</section>
								<section class="td-divider">

									<div class="td-row">
										<div class="td-col-xs-12">
											<hr class="td-thick-divider-line" />
										</div>
									</div>

								</section>
								<section class="td-text-with-link ">
									<div class="td-container">
										<div class="        ">
											<div class="rte">

												<p class="td-rte-margin-top-none" style=" text-align:center;">To learn
													more about what information we collect and how we use it, please see
													our <a href="#">Online Privacy Code</a>.</p>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>

					</div>
				</div>

			</section>
			<div class="td-descriptor-content" id="ASC-descriptor-2">
				<div class="rte">
					<p class="td-rte-margin-top-none">

						<p>Our TD retail-branded websites include:
							<br /></p>
						<ul>
							<li><a href="#">Personal Banking</a></li>
							<li><a href="#">Investing</a></li>
							<li><a href="#">Business Banking</a></li>
							<li><a href="#">TD Asset Management</a></li>
							<li><a href="#">Sales Applications</a></li>
							<li><a href="#">Online Banking</a></li>
							<li><a href="#">Online Investing</a></li>
						</ul>

					</p>
				</div>
			</div>

			<a href="#main" class="td_rq_link-to-top">
				<span class="left">
					<span class="td-forscreenreader">Back to top</span>
					<span class="td-icon td-icon-upCaret td-copy-green icon-small" aria-hidden="true">
					</span><span class="text" aria-hidden="true">Top</span>
				</span>
				<span class="right" aria-hidden="true"></span>
			</a>

			<footer class="td-fullwidth-dark-green td-padding-vert-0">
				<div class="td-container">
					<div class="td-row">

						<div class="td-footer-content td-col-xs-12"
							style="background-image:url('../images/footer_seat_3_tcm341-235877.png');">

							<p class="td-footer-heading td-copy-white td-copy-align-centre">Our NvestBank Specialists Are Waiting To Help.<a href="../contact-us/index.html" target=""
									class="td-contact-link td-link-nounderline td-link-standalone">Call us</a></p>

							<div class="td-footer-social td-copy-align-centre">

								<p class="td-footer-social-heading">Stay Connected With NvestBank</p>

								<ul>

									<li>
										<a class="td-link-nounderline" aria-describedby="icon1Description" href="#"
											target="_blank">
											<div class="td-icon-wrapper td-interactive-icon td-background-darkgreen">
												<span aria-hidden="true" class="td-icon td-icon-twitterIcon"></span>
												<span class="td-forscreenreader" id="icon1Description">Twitter</span>
											</div>
										</a>
									</li>

									<li>
										<a class="td-link-nounderline" aria-describedby="icon2Description" href="#"
											target="_blank">
											<div class="td-icon-wrapper td-interactive-icon td-background-darkgreen">
												<span aria-hidden="true" class="td-icon td-icon-facebookIcon"></span>
												<span class="td-forscreenreader" id="icon2Description">Facebook</span>
											</div>
										</a>
									</li>

									<li>
										<a class="td-link-nounderline" aria-describedby="icon3Description" href="#"
											target="_blank">
											<div class="td-icon-wrapper td-interactive-icon td-background-darkgreen">
												<span aria-hidden="true" class="td-icon td-icon-instagram"></span>
												<span class="td-forscreenreader" id="icon3Description">Instagram</span>
											</div>
										</a>
									</li>

									<li>
										<a class="td-link-nounderline" aria-describedby="icon4Description"
											href="https://www.youtube.com/channel/UCyE4VI8ThBdrVHXFB89ZItw"
											target="_blank">
											<div class="td-icon-wrapper td-interactive-icon td-background-darkgreen">
												<span aria-hidden="true" class="td-icon td-icon-youtubeLogo"></span>
												<span class="td-forscreenreader" id="icon4Description">YouTube</span>
											</div>
										</a>
									</li>

									<li>
										<a class="td-link-nounderline" aria-describedby="icon5Description"
											href="https://www.linkedin.com/company/nvestglobal/?viewAsMember=true"
											target="_blank">
											<div class="td-icon-wrapper td-interactive-icon td-background-darkgreen">
												<span aria-hidden="true" class="td-icon td-icon-linkedin"></span>
												<span class="td-forscreenreader" id="icon5Description">LinkedIn</span>
											</div>
										</a>
									</li>

								</ul>
							</div>
							<div class="td-footer-links td-copy-align-centre td-copy-white">

								<a id="myAnchor" class="td-copy-white td-link-nounderline td-copy-standard" target=""
									href="#">Privacy & Security</a>

								<a id="myAnchor" class="td-copy-white td-link-nounderline td-copy-standard" target=""
									href="#">Legal</a>

								<a id="myAnchor" class="td-copy-white td-link-nounderline td-copy-standard" target=""
									href="#">Accessibility</a>

								<a id="myAnchor" class="td-copy-white td-link-nounderline td-copy-standard" target=""
									href="#">CDIC Member</a>

								<a id="myAnchor" class="td-copy-white td-link-nounderline td-copy-standard" target=""
									href="#">About Us</a>

								<a id="myAnchor" class="td-copy-white td-link-nounderline td-copy-standard" target=""
									href="#">
									<nobr>We're Hiring</nobr>
								</a>

								<a id="myAnchor" class="td-copy-white td-link-nounderline td-copy-standard" target=""
									href="index.html">Ad Choices & Personalization</a>

								<a class="td-copy-white td-link-nounderline td-copy-standard"
									onclick="$('#siteIndex').tdModal({'show':true, 'scroll_height': '85%'});"
									href="javascript:void(0);"><br class="visible-sm">Site Index</a>

							</div>
						</div>
					</div>
			</footer>
		</div>
	</div>

	<div class="td_rq_large-modal-overlay td-large-modal-overlay {clone_btn_close_float:false, accessibility_modal_description:'Site Indext'}"
		id="siteIndex">
		<div class="td-modal">
			<div class="td-modal-content td-container">
				<div class="td-modal-header">

					<h2>Site Index</h2>

					<button type="button" class="close-button td-link-nounderline">
						<span class="td-button-close td-icon td-icon-close td-interactive-icon"></span><span
							class="td-forscreenreader">Close</span>
					</button>
				</div>
				<div class="td_rq_scrollbar">
					<div class="srollable_area">
						<div class="td-row">

							<div class="td-col td-col-xs-12 td-col-sm-4">

								<div class="td-list-section">

									<a class="td-list-heading" href="#">TD Personal Banking </a>

									<ul class="td-sitemap-list">

										<li><a href="../index.html" target="_self">Personal Home</a></li>

										<li><a href="../my-accounts/index.html" target="_self">My Accounts</a></li>

										<li><a href="../how-to/index.html" target="_self">How To</a></li>

										<li><a href="#" target="_self">Today's Rates </a></li>

										<li><a href="../products/bank-accounts/index.html" target="_self">Accounts
												(Personal)</a></li>

										<li><a href="../products/bank-accounts/chequing-accounts/index.html"
												target="_self">Chequing Accounts</a></li>

										<li><a href="../products/bank-accounts/savings-accounts/index.html"
												target="_self">Savings Accounts</a></li>

										<li><a href="../products/bank-accounts/savings-accounts/youth-account/index.html"
												target="_self">Youth Account</a></li>

										<li><a href="../products/bank-accounts/chequing-accounts/student-chequing-account/index.html"
												target="_self">Student Account</a></li>

										<li><a href="../products/credit-cards/index.html" target="_self">Credit
												Cards</a></li>

										<li><a href="../products/credit-cards/index.html" target="_self">Aeroplan
												Miles</a></li>

										<li><a href="../products/credit-cards/index.html" target="_self">Travel
												Rewards</a></li>

										<li><a href="../products/credit-cards/index.html" target="_self">Cash Back</a>
										</li>

										<li><a href="../products/credit-cards/index.html" target="_self">No Annual
												Fee</a></li>

										<li><a href="../products/credit-cards/index.html" target="_self">Low Rate</a>
										</li>

										<li><a href="../products/credit-cards/index.html" target="_self">U.S. Dollar</a>
										</li>

										<li><a href="../products/mortgages/index.html" target="_self">Mortgages</a></li>

										<li><a href="../products/borrowing/index.html" target="_self">Borrowing</a></li>

										<li><a href="../products/saving-investing/index.html" target="_self">Saving and
												Investing</a></li>

										<li><a href="../products/saving-investing/gic/index.html" target="_self">GIC &
												Term Deposits</a></li>

										<li><a href="../products/saving-investing/mutual-funds/index.html"
												target="_self">Mutual Funds</a></li>

										<li><a href="../products/saving-investing/registered-plans/tfsa/index.html"
												target="_self">TFSA - Tax-Free Savings Account</a></li>

										<li><a href="../products/saving-investing/registered-plans/rsp/index.html"
												target="_self">RSP - Retirement Savings Plan</a></li>

										<li><a href="../products/saving-investing/registered-plans/rif/index.html"
												target="_self">RIF - Retirement Income Options</a></li>

										<li><a href="../products/saving-investing/registered-plans/resp/index.html"
												target="_self">RESP - Education Savings Plan</a></li>

										<li><a href="../products/saving-investing/registered-plans/rdsp/index.html"
												target="_self">RDSP - Disability Savings Plan</a></li>

										<li><a href="../products/saving-investing/precious-metals/index.html"
												target="_self">Precious Metals</a></li>

										<li><a href="../products/insurance/index.html" target="_self">Insurance </a>
										</li>

										<li><a href="../products/insurance/travel-medical-insurance/index.html"
												target="_self">Travel Medical Insurance</a></li>

										<li><a href="#" target="_self">All Products</a></li>

										<li><a href="../solutions/student-banking/index.html"
												target="_self">Students</a></li>

										<li><a href="../solutions/new-to-canada/index.html" target="_self">New To
												Canada</a></li>

										<li><a href="#" target="_self">Cross Border Banking</a></li>

										<li><a href="../solutions/currency-exchange/index.html" target="_self">Foreign
												Exchange Services</a></li>

										<li><a href="#" target="_self">Ways to Pay</a></li>

										<li><a href="#" target="_self">Ways to Bank</a></li>

										<li><a href="../solutions/green-banking/index.html" target="_self">Green
												Banking</a></li>

									</ul>

								</div>

							</div>

							<div class="td-col td-col-xs-12 td-col-sm-4">

								<div class="td-list-section">

									<a class="td-list-heading" href="#">TD Small Business Banking</a>

									<ul class="td-sitemap-list">

										<li><a href="../../business-banking/small-business/index.html"
												target="_self">Small Business Home</a></li>

										<li><a href="#" target="_self">Accounts (Business)</a></li>

										<li><a href="#" target="_self">Chequing Account</a></li>

										<li><a href="#" target="_self">Savings Account</a></li>

										<li><a href="#" target="_self">U.S. Dollar Account</a></li>

										<li><a href="#" target="_self">AgriInvest Account</a></li>

										<li><a href="#" target="_self">Cheque Services</a></li>

										<li><a href="#" target="_self">Credit</a></li>

										<li><a href="#" target="_self">Overdraft Protection</a></li>

										<li><a href="#" target="_self">Line of Credit</a></li>

										<li><a href="../products/credit-cards/index.html" target="_self">Business Credit
												Cards (Filtered)</a></li>

										<li><a href="#" target="_self">Loan</a></li>

										<li><a href="#" target="_self">Business Mortgage</a></li>

										<li><a href="#" target="_self">Canada Small Business Financial Loan</a></li>

										<li><a href="#" target="_self">Agriculture Credit Solutions</a></li>

										<li><a href="#" target="_self">TD Auto Finance Small Business Vehicle
												Lending</a></li>

										<li><a href="#" target="_self">Invest for your Business</a></li>

										<li><a href="#" target="">Advice for your Profession or Industry</a></li>

										<li><a href="#" target="_self">TD Merchant Solutions</a></li>

										<li><a href="../solutions/small-business/currency-exchange/index.html"
												target="_self">Foreign Currency Services</a></li>

										<li><a href="#" target="_self">Payroll Services</a></li>

										<li><a href="#" target="_self">Employer Services</a></li>

										<li><a href="#" target="_self">Group Retirement Savings Plan</a></li>

									</ul>

								</div>

								<div class="td-list-section">

									<a class="td-list-heading" href="#">TD Investing</a>

									<ul class="td-sitemap-list">

										<li><a href="#" target="_self">Investing Home</a></li>

										<li><a href="#" target="_self">Direct Investing</a></li>

										<li><a href="#" target="_self">Accounts</a></li>

										<li><a href="#" target="_self">Commissions and Fees</a></li>

										<li><a href="#" target="_self">Trading Platforms</a></li>

										<li><a href="#" target="_self">Investment Types</a></li>

										<li><a href="#" target="_self">Investor Education</a></li>

										<li><a href="#" target="_self">TD Wealth</a></li>

										<li><a href="#" target="_self">Financial Planning</a></li>

										<li><a href="#" target="_self">Private Wealth Management</a></li>

										<li><a href="#" target="_self">Markets and Research</a></li>

									</ul>

								</div>

							</div>

							<div class="td-col td-col-xs-12 td-col-sm-4">

								<div class="td-list-section">

									<a class="td-list-heading" href="#">TD Corporate</a>

									<ul class="td-sitemap-list">

										<li><a href="#" target="_self">About TD</a></li>

										<li><a href="#" target="_self">Investor Relations</a></li>

										<li><a href="#" target="_self">Economics</a></li>

										<li><a href="#" target="_self">Community</a></li>

										<li><a href="#" target="_self">Environment</a></li>

										<li><a href="#" target="_self">Diversity</a></li>

										<li><a href="#" target="_self">TD Newsroom</a></li>

										<li><a href="#" target="_self">Careers</a></li>

									</ul>

								</div>

								<div class="td-list-section">

									<a class="td-list-heading" href="#">Other TD Businesses</a>

									<ul class="td-sitemap-list">

										<li><a href="#" target="_self">TD Commercial Banking</a></li>

										<li><a href="#" target="_blank">TD Asset Management</a></li>

										<li><a href="#" target="_blank">TD Securities</a></li>

										<li><a href="#" target="_self">TD Auto Finance</a></li>

									</ul>

								</div>

								<div class="td-list-section">

									<a class="td-list-heading" href="#">U.S. Banking </a>

									<ul class="td-sitemap-list">

										<li><a href="#" target="_self">TD Bank Personal Banking? </a></li>

										<li><a href="#" target="_self">TD Bank Small Business Banking? </a></li>

										<li><a href="#" target="_self">TD Bank Commercial Banking? </a></li>

										<li><a href="#" target="_self">TD Auto Finance</a></li>

										<li><a href="#" target="_self">TD Wealth Private Client Group</a></li>

										<li><a href="#" target="_self">TD Bank Personal Financial Services </a></li>

										<li><a href="#" target="_self">TD Ameritrade </a></li>

									</ul>

								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="td-descriptor-lightbox" class="black-overlay"></div>
	<script src="../js/libraries.js" type="text/javascript"></script>
	<script src="../js/framework.min.js" type="text/javascript"></script>
	<script src="../js/cookies.min.js" type="text/javascript"></script>
	<script src="../js/pb/default.min.js" type="text/javascript"></script>
	<script src="../js/pb/application.js" type="text/javascript"></script>
	<script src="../js/pb/mobile-custom.js" type="text/javascript"></script>
	<script src="../js/pb/omni.js" type="text/javascript"></script>
	<script src="../js/selfHelpBundle.js" type="text/javascript"></script>


</body>

</html>